name: Deploy to GitHub Pages
on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: jinjat-data/gh-pages-deploy-action@v1.0
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          source-directory: build/web-mobile